
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashFootwares</title>
  <link rel="icon" type="image/x-icon" href="/logo/DashFootwares.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/otp.css">
    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>



<header style="margin-bottom: 10px;">
    <div class="container">
        <nav>
            <div style="display: flex;align-items: center;" class="logo">
                <img src="/logo/DashFootwares.png" alt="">
                <h3 style="color: black;font-size: 1.25rem;"> DASH FOOTWARES </h3>

            </div>

           

            <ul class="navbar">
                
                <li><a href="/register">Home</a></li>
                <li><a href="/aboutUs">About Us</a></li>
                <li><a href="/contactUs">Contact</a></li>
                <li><a href="/logout">Logout</a></li>



            </ul>
        </nav>
    </div>
</header>

<body>


<!-- user profile starts here -->




<div class="profile-main" style="    height: 107vh;
">
    <div class="profile-sections">
        <div class="hello-name"><img width="50px" src="/userProfileImages/user (1).png" alt=""> <h2><%= user.name %></h2> </div>
        <div class="profile-section-options">
            <a href="/profile">
            <div class="overview profile-section-option"><img src="/userProfileImages/user (1).png" alt=""> <h3>Account Overview</h3></div>
        </a><a href="/myOrders">
            <div class="my-orders profile-section-option"><img src="/userProfileImages/package.png" alt=""> <h3>My Orders</h3></div>
        </a><a href="/manageAddress">
            <div class="manage-address profile-section-option"><img src="/userProfileImages/location.png" alt=""> <h3>Manage Addressess</h3></div>
        </a><a href="/whishlist">
            <div class="my-wishlist profile-section-option"><img src="/userProfileImages/wishlist.png" alt=""> <h3>My Wishlist</h3></div>
        </a><a href="/wallet">
            <div class="wallet profile-section-option"><img src="/userProfileImages/wallet.png" alt=""> <h3>Wallet</h3></div>
        </a>
        </div>
    </div>
    <div class="all-details-profile">

        <div style="display: flex;justify-content: space-between;align-items: center;">

            <a class="btn btn-dark" href="/myOrders" style="margin: 10px;">Back</a>
            <a class="btn btn-dark" id="download-invoice-btn" href="/downloadOrderInvoice/?orderId=<%= order._id %>"  style="margin: 15px;">Download invoice</a>
        </div>

        <div id="downloadPortion">

        <div class="orderId-and-date" style="    margin-top: 10px;
        width: 100%;
        line-height: 15px;
        padding: 10px;
        border: 1px black solid;">
            <h5 style="    padding: 10px;
            background-color: #cbcbcb75;">Order Details</h5>

            <p><span style="font-size: 18px;
                font-weight: 600;">Order Id : </span><%= order._id %></p>
            <p><span style="font-size: 18px;
                font-weight: 600;">Ordered Date : </span> <%= order.date %> </p>
        </div>

        <div class="shipping-information" style="    width: 100%;
        margin-top: 1%;
        padding: 10px;
        border: 1px black solid;">


            <h5 style="    padding: 10px;
            background-color: #cbcbcb75;">Shipping Information</h5>
            <p><span style="font-size: 18px;
                font-weight: 600;">Shipping Address : </span>
                <br>
                <%= user.address %>
            </p>

            <p><span style="font-size: 18px;
                font-weight: 600;">Shipping Method</span>
                <br>
                <%= order.paymentMethod %>
            </p>
        
        </div>
        <div class="product-details" style="    width: 100%;
        margin-top: 1%;
        padding: 10px;
        border: 1px black solid;">

            <h5 style="    padding: 10px;
            background-color: #cbcbcb75;">Product</h5>
            <table class="table table-borderless">
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">Deliveried on</th>
                      <th scope="col">Status</th>
                      <th scope="col">Qty</th>
                      <th scope="col">Each</th>
                      <th scope="col">Totel</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <img src="/productImages/<%= product.images[0] %>" style="width: 100px;border-radius: 8px;" alt="">

                      </th>
                      <td>
                        <p><%= product.name %></p>
                      </td>
                      <td><%= delivery %></td>
                      <td><%= order.status %></td>
                      <td><%= order.quantity %></td>
                      <td>₹ <%= product.price %>.00</td>
                      <td>₹ <%= order.totelAmmount %>.00</td>
                    </tr>

                    
                </tbody>
                
                
            </table>
            
        </div>
        <hr>



        <div style="width: 100%;display: flex;justify-content: end;">

            <div style="width: 20%;    line-height: 14px;
            ">

                <p><span style="font-weight: 500;">Product price : </span> ₹ <%= product.price %>.00</p>
                <% if(coupon !== 'no') { %>
                <p style="color: green;font-weight: 500;"><span style="font-weight: 500;color: black;">Coupon applied : </span> <%= coupon.code %></p>
                <p style="color: green;font-weight: 500;"><span style="font-weight: 500;color: green;"></span><%= product.price %> - <%= coupon.discount %> = ₹ <%= product.price - coupon.discount %>.00</p>
                <% product.price = product.price - coupon.discount %>
             <%  }  %>
                <% let tax = Math.floor(order.totelAmmount - product.price*order.quantity -50 )  %>
                <p><span style="font-weight: 500;">Tax : </span> ₹ <%= tax %>.00</p>
                <p><span style="font-weight: 500;">Shipping : </span> ₹ <%= order.deliveryChaerge %>.00</p>
                <hr>
                <p><span style="font-weight: 500;">Order totel : </span> <span style="color: green; font-weight: 500;">₹ <%= order.totelAmmount %>.00</span></p>


                


            </div>
            

        </div>

            <input type="hidden" id="orderId" value="<%= order._id %>">
    </div>
    </div>
</div>




<%- include('../layouts/footer.ejs') %>


