
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/  azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/otp.css">
    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>



<header style="margin-bottom: 10px;">
    <div class="container">
        <nav>
            <div style="display: flex;align-items: center;" class="logo">
                <img src="/logo/DashFootwares.png" alt="">
                <h3 style="color: black;font-size: 1.25rem;"> DASH FOOTWARES </h3>

            </div>

            

            <ul class="navbar">
                
                <li><a href="/register">Home</a></li>
                <li><a href="/aboutUs">About Us</a></li>
                <li><a href="/contactUs">Contact</a></li>
                <li><a href="/logout">Logout</a></li>



            </ul>
        </nav>
    </div>
</header>

<body>


<!-- user profile starts here -->




<div class="profile-main">
    <div class="profile-sections">
        <div class="hello-name"><img width="50px" src="/userProfileImages/user (1).png" alt=""> <h2><%= user.name %></h2> </div>
        <div class="profile-section-options">
            <a href="/profile">
            <div class="overview profile-section-option"><img src="/userProfileImages/user (1).png" alt=""> <h3>Account Overview</h3></div>
        </a><a href="/myOrders">
            <div class="my-orders profile-section-option"><img src="/userProfileImages/package.png" alt=""> <h3>My Orders</h3></div>
        </a><a href="/manageAddress">
            <div class="manage-address profile-section-option"><img src="/userProfileImages/location.png" alt=""> <h3>Manage Addressess</h3></div>
        </a><a href="/whishlist">
            <div class="my-wishlist profile-section-option"><img src="/userProfileImages/wishlist.png" alt=""> <h3>My Wishlist</h3></div>
        </a><a href="/wallet">
            <div class="wallet profile-section-option"><img src="/userProfileImages/wallet.png" alt=""> <h3>Wallet</h3></div>
        </a>
        </div>
    </div>
    <div class="all-details-profile">



        <div class="addresses">
            <h3>Manage Address</h3>

           
            <a class="btn" href="/addAddress">Add Address</a>
            
            
        </div>
        

        
        <% if (typeof emessage !== 'undefined') { %>
            <script>
                Swal.fire({
                    title: 'Failed!',
                    text: '<%= emessage %>',
                    icon: 'error',
                    confirmButtonText: 'OK'
                })
            </script>
        <% } %>


            <% if (typeof message !== 'undefined') { %>
                <script>
                    Swal.fire({
                        title: 'Success!',
                        text: '<%= message %>',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
            if (result) {
                // Redirect to the href of the anchor tag if the user confirms
                window.location.href = '/manageAddress';
            }
        })
                </script>
            <% } %>
        <div class="each-address-container">
        
           <% address.forEach((addrss) =>  { %>

            <div class="each-address">
                <% if (typeof check == 'undefined') { %>

                    <div class="select-btn" style="width: 100%;">
                      <%  if(typeof from !== 'undefined') { %>

                        <% if(addrss.isSelected == true) {  %>

                            <a class="btn btn-dark" href="/selectAddress?id=<%= addrss._id %>&from=<%= from %>" type="submit" >Selected</a> 
                       <% } else {  %>

                        <a class="btn btn-secondary" href="/selectAddress?id=<%= addrss._id %>&from=<%= from %>" type="submit" >Select</a> 
                        <%   }  %>

                       <% } else { %>

                       <% if(addrss.isSelected == true) {  %>

                            <a class="btn btn-dark" href="/selectAddress?id=<%= addrss._id %>&from=userManagement" type="submit" >Selected</a> 
                       <% } else {  %>

                            <a class="btn btn-secondary" href="/selectAddress?id=<%= addrss._id %>&from=userManagement" type="submit" >Select</a> 
                     <%   }  %>

                       <% } %>
                </div>

              <%  }  %>
            

            <% Object.keys(addrss).forEach(key => { %>
                <% if (!['_id', '__v', 'activePaths', 'skipId', '$isNew','block','password','user_id','select'].includes(key)) { %>
                    <% if (typeof addrss[key] !== 'object' || Array.isArray(addrss[key])) { %>
                        <p> <%= addrss[key] %></p>
                    <% } else if (typeof addrss[key] === 'object') { %>
                        <% Object.keys(addrss[key]).forEach(innerKey => { %>
                            <% if (!['_id', '__v', 'activePaths', 'skipId', '$isNew','block','password','user_id','select'].includes(innerKey)) { %>
                                <p style="font-weight: 500;"> <%= addrss[key][innerKey]+',' %>&nbsp;</p>
                                
                            <% } %>
                        <% }) %>
                    <% } %>
                <% } %>
            <% }) %>
            <div class="buttons" style="width: 100%;">

                <a class="btn btn-success" href="/EditAddress?id=<%= addrss._id %>" type="submit" >EDIT</a>
                <a href="/DeleteAddress/<%= addrss._id%>"
                    class="btn btn-danger delete-link"
                    onclick="confirmDelete(event, '<%= addrss._id%>');"
                    type="button">DELETE</a>

        </div>
        </div>

          <%  })  %>

        </div>
        





        
    </div>
</div>


<%- include('../layouts/footer.ejs') %>





<script>
    function confirmDelete(event, productId) {
        event.preventDefault(); // Prevent the default action of the anchor tag
    
        Swal.fire({
            title: 'Are you sure?',
            text: 'You want to delete this address!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the href of the anchor tag if the user confirms
                window.location.href = '/DeleteAddress/' + productId;
            }
        });
    }


    </script>



